<div class="app-bg">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="d-flex flex-column gap-5">
            <div class="form-group w-250">
              <!-- <label for="name">Name</label> -->
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="email">Email</label> -->
              <input
                class="form-control"
                type="text"
                id="email"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="mobile">Mobile</label> -->
              <input
                class="form-control"
                type="text"
                id="mobile"
                placeholder="Enter Mobile"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="course">Course</label> -->
              <input
                class="form-control"
                type="text"
                id="course"
                placeholder="Enter Course"
              />
            </div>
          </div>
          <div class="py-5 w-250">
            <button class="btn btn-primary w-100">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">Product Info</div>
    </div>
  </div>
</div>
