<div class="app-bg">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="d-flex flex-column gap-5">
            <div class="form-group w-250">
              <!-- <label for="name">Name</label> -->
              <input
                class="form-control rounded-0"
                type="text"
                id="name"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="email">Email</label> -->
              <input
                class="form-control rounded-0"
                type="text"
                id="email"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="mobile">Mobile</label> -->
              <input
                class="form-control rounded-0"
                type="text"
                id="mobile"
                placeholder="Enter Mobile"
              />
            </div>
            <div class="form-group w-250">
              <!-- <label for="course">Course</label> -->
              <input
                class="form-control rounded-0"
                type="text"
                id="course"
                placeholder="Enter Course"
              />
            </div>
          </div>
          <div class="py-5 w-250">
            <button class="btn btn-primary w-100 rounded-0">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-8">
        <div class="row g-4">
          <div class="col-md-6">
            <div class="product-card">
              <div class="font-20">Mental Math Skills</div>
              <div>
                Learning to manipulate the beads on the abacus helps develop
                strong mental math skills. Users become proficient in performing
                calculations in their minds, enhancing their ability to solve
                math problems quickly and accurately without relying on external
                tools.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-card">
              <div class="font-20">Number Sense and Place Value</div>
              <div>
                The abacus provides a concrete and visual representation of
                place value and number concepts. Users gain a deeper
                understanding of how numbers are composed and how they relate to
                each other in terms of ones, tens, hundreds, etc.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-card">
              <div class="font-20">Concentration and Focus</div>
              <div>
                Using the abacus requires concentration and focus, which can
                help improve attention span and enhance overall cognitive
                abilities.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-card">
              <div class="font-20">Spatial Awareness</div>
              <div>
                Moving beads on the abacus involves spatial manipulation and
                coordination. This can contribute to the development of spatial
                reasoning skills, which are important in various fields,
                including mathematics, science, and engineering.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
